
$keppel:hsl(176, 50%, 47%);
$genoa:hsl(176, 72%, 28%);
$boulder:hsl(0, 0%, 48%);
$alabaster:hsl(0, 0%, 98%); // body background
$jungle-mist:hsl(173, 31%, 73%);
$silver: hsl(0, 0%, 74%);
$black:rgba(0,0,0,0.05);