@import './_global';

.top-space{
    margin-top:25px;   
}

.switch{
    input[type="checkbox"]{
        display: none;
    }
}

.card{
    background-color: white;
    border-radius:5px;
    padding:25px 50px;
    width: 100%;
    margin:10px 0;
    box-shadow:0px 0px 8px rgba(0,0,0,0.05);

    &[data-amount="0"]{
        opacity:0.5;
        pointer-events: none;
    }

    &__header, &__footer{
        position: relative;
        display: flex;
        align-items: center;
    }

    @include mobile-query{
        padding:25px 25px;

        &__header, &__footer{
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
        }
    }
}

.hero{
    background-image:url('../../assets/images/image-hero-desktop.jpg');
    background-repeat: no-repeat;
    background-size:100%;
    height:300px;
    background-attachment: fixed;

    @include mobile-query{
        background-size: cover;
        background-position: center;
    }
}

$main-desktop-width:50%;

$main-mobile-width:80%;

.main, .modal{
    font-family: $commissionerFont;
}

p{
    color:$boulder;
}

.main{    
    max-width: $main-desktop-width;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:auto;
    margin-top:-150px;

    &.hide::after{
        content:'';
        height:100%;
        width: 100%;
        position:fixed;
        top:0;
        left:0;
        background-color: rgba(0,0,0,0.3);
    }

    &__info{
        position: relative;
        text-align: center;

        &::before{
            content:'';
            height:80px;
            width: 80px;
            display: block;
            border-radius:50%;
            background:url('../../assets/images/logo-mastercraft.svg'),black;
            background-repeat: no-repeat;
            background-size: cover;
            position:absolute;
            top:-40px;
            left:0;
            right:0;
            margin:auto;
        }
    }

    &__stands .card{
        &__header span{
            margin-left: auto;
        }

        &__footer button{
            @include pill-button;
            margin-left: auto;
        }
    }

    @include mobile-query{
        max-width:$main-mobile-width;

        &__stands .card{
            &__header span{
                margin-left: initial;
            }

            &__footer button{
                margin-left:initial;
                margin-top:1rem;
            }
        }
    }
}

.main__stands, .modal__stands{
    .card{
        width: initial;
        box-shadow: none;
        border:1px solid $black;
    }
    span{
        color: $jungle-mist;
    }
}

.amount__left{
    display: flex;
    align-items: center;
    strong{
        font-size: $large-font;
        color: black;
    }

    span{
        margin-left: 0.3rem;
    }
}

.status__wrapper{
    display: flex;
    flex-wrap:wrap;

    .status__col{
        padding:0 1rem;
        flex:1;
    
        &:not(:first-child){
            border-left: 2px solid $alabaster;
        }
        
        span{
            color:hsl(0, 0%, 65%);
        }
    }

    .status__val{
        font-size:$large-font;
        display: block;
        margin-bottom:0.5rem;
    }

    @include mobile-query{
        .status__col{
            flex:initial;
            padding:1rem;
            width: 100%;
            position: relative;
            text-align: center;

            &:not(:first-child){
                border:none;
            }

            &:not(:last-child)::after{
                content:'';
                display: block;
                width: 50%;
                position: absolute;
                bottom:0;
                left:0;
                right:0;
                margin:auto;
                border-bottom:2px solid $alabaster;
            }
        }
    }
}



.buttons__wrapper{
    @extend .top-space;
    display: flex;
    align-items: center;
    justify-content: space-between;

    button{
        @include pill-button;
        position: relative;
    }

    .bookmark__btn{
        background-color: $alabaster;
        color: hsl(0, 0%, 61%);
        border-radius: 50px;
        position: relative;
        
        &:hover{
            background-color: $alabaster;
        }

        &::before{
            content:'';
            height:3rem;
            width: 3rem;
            display: block;
            background:url('../../assets/icons/icon-bookmark.svg');
            background-position: center;
            position:absolute;
            top:0;
            bottom:0;
            margin:auto;
            border-radius:50%;
            transition: left 0.5s;
        }
    }

    .switch input:not(:checked) +{
        button.bookmark__btn::before{
            left:-1.5rem;
        }
    }

    .switch input:checked +{
        button.bookmark__btn::before{
            left:calc(100% - 1.5rem);
        }
    }

    @include mobile-query{
        .bookmark__btn{
            padding:0;
            
            span{
                display: none;
            }

            &::before{
                left:unset !important;
                right:0;
            }
        }
    }
}

.progress{
    &__bar{
        @extend .top-space;
        height:15px;
        background-color: hsl(0, 0%, 96%);
    }

    &__value{
        background-color:hsl(177, 49%, 47%);
        height: 100%;
    }

    &__bar, &__value{
        border-radius: 50px;
    }
}

.modal{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: none;
    z-index: 1;

    &.active{
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    
    &__body{
        width: $main-desktop-width;
        position: relative;

        @include mobile-query{
            width:$main-mobile-width;
        }
    }

    &__backdrop{
        background-color: rgba(0,0,0,0.5);
        position:fixed;
        height: 100%;
        width: 100%;
        top:0;
        left:0;
        z-index: -1;
    }
}

.complete__modal{
    text-align: center;

    &.active{
        align-items: center;
    }

    .modal__body{
        width:300px;

        @include mobile-query{
            width:$main-mobile-width;
        }
    }

    button{
        @include pill-button;
    }
}

.rewards__modal{
    .modal__title{
        display: flex;
        align-items: center;
    }

    .close__btn{
        position:absolute;
        top:2rem;
        right:2rem;
    }
    
    .card{
        position: relative;
    }

    .card__header span{
        margin-left:1rem;
    }

    .card__header .amount__left{
        margin-left: auto;
    }

    .card__footer .amount__left{
        display: none;
    }

    input.reward__radio{
        height:1.3rem;
        width: 1.3rem;
        position:absolute;
        opacity: 0.3;
        right:calc(100% + 0.5rem);
    }

    .card.selected .pledge{
        display: flex;
    }

    .pledge{
        display: none;
        justify-content: center;
        align-items: center;
        flex-wrap:wrap;
        margin-top:1rem;
        border-top:1px solid $black;

        &__wrapper{
            flex:1;
            padding:1.5rem 0.5rem;
        }

        &__error{
            display: block;
            font-size:$small-font;
            color:red;
        }

        &__amount{
            font-size:$regular-font;
            border:none;
            &:focus{
                outline:none;
            }
        }

        &__min{
            color:black;
            font-weight: bold;
            border:1px solid $black;
            border-radius:50px;
            padding:0.5rem 2rem;
            position: relative;
            margin-right:1rem;
            text-align: center;

            &::before{
                content:'$';
                position:absolute;
                left:20%;
                color:$silver;
            }
        }

        &__submit{
            @include pill-button;
        }
    }

    @include mobile-query{
        .modal__title{
            position: relative;
        }

        .close__btn{
            position: initial;
            margin-left: auto;
        }

        .card__header{
            max-width: fit-content;
            margin-left:2rem;

            span{
                margin-left: initial;
            }

            .amount__left{
                display: none;
            }
        }

        .card__footer{
            .amount__left{
                display: initial;
            }
        }

        .pledge{
            &__wrapper{
                min-width: 100%;
            }

            &__amount{
                width: 100%;
            }

            &__error, &__amount{
                text-align: center;
            }

            &__min{
                margin:0;
            }

            &__min, &__submit{
                flex:1;
            }
        }
    }
}